## *Machine Learning* introduction 

Nous allons apprendre via un exemple concret les bases du Machine Learning. 

**Plan du Tp du 28 mars 2019:**

- Etape de *Data mining* 
    - Etape *d'éxploaration* des données
        - *textuelle* ou *graphique* des données 
- Etape de *modélisation*  statisques 
    - Etape de *vérification* de la perfomance du modèle 
- Etape de restitution des résultats




### Première étape le data mining 

Il s’agit de télécharger vos données et de les insérer dans R via les nombreuses commandes graphiques ou consoles, que vous apprises dans le cours de Master 1. Il s’agit de rappels, je vous recommande d’écrire un script afin de ne pas perdre vos données et surtout de rendre votre code reproductible et de ne pas perdre vos données.  Puis, il faut contrôler les données que vous avez téléchargées. Pour cela, il faut télécharger les données d’entraînement et les sorties d'apprentissages : 

Télécharger les  données sur le répertoire github du cours, soit via le terminal avec ces commandes : 

`git clone "url_du_dossier_github" `

ou si vous l'avez déjà fait allez dans votre répertoire du premier cours 

`git fetch -a`

`git pull`

Il est possible de la faire en mode graphique avec un explortaeur web à tapant l'adresse suivante https://github.com/LaurentPolitis/data_science_intro/tree/master/data

In [ ]:
library("ggplot2") # visualisation
library("dplyr") #  manipulation
library("randomForest") # classification algorithme


# lire les données sous R 

train <- read.csv("~//Documents//R//Cours2019_M2//data//train.csv", stringsAsFactors = F)
train$type <- "train"
test  <- read.csv("~//Documents//R//Cours2019_M2//data//test.csv", stringsAsFactors = F)
train$type <- "test"
# vérifier les données 
full  <- bind_rows(train, test) #

In [ ]:
**Question 1** Inspecter  les éléments des data frame *train* et *test* que vous avez téléchargé

In [6]:
str(full)

'data.frame':	1309 obs. of  13 variables:
 $ PassengerId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Name       : chr  "Braund, Mr. Owen Harris" "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" "Heikkinen, Miss. Laina" "Futrelle, Mrs. Jacques Heath (Lily May Peel)" ...
 $ Sex        : chr  "male" "female" "female" "female" ...
 $ Age        : num  22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp      : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket     : chr  "A/5 21171" "PC 17599" "STON/O2. 3101282" "113803" ...
 $ Fare       : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin      : chr  "" "C85" "" "C123" ...
 $ Embarked   : chr  "S" "C" "S" "S" ...
 $ type       : chr  "test" "test" "test" "test" ...

In [17]:
head(test)

  PassengerId Pclass Name                                         Sex    Age
1 892         3      Kelly, Mr. James                             male   34.5
2 893         3      Wilkes, Mrs. James (Ellen Needs)             female 47.0
3 894         2      Myles, Mr. Thomas Francis                    male   62.0
4 895         3      Wirz, Mr. Albert                             male   27.0
5 896         3      Hirvonen, Mrs. Alexander (Helga E Lindqvist) female 22.0
6 897         3      Svensson, Mr. Johan Cervin                   male   14.0
  SibSp Parch Ticket  Fare    Cabin Embarked
1 0     0     330911   7.8292       Q
2 1     0     363272   7.0000       S
3 0     0     240276   9.6875       Q
4 0     0     315154   8.6625       S
5 1     1     3101298 12.2875       S
6 0     0     7538     9.2250       S

##### Explorer les données 
Nous allons découvrir et explorer les données afin de pouvoir créer un modèle de survie.