##### Machine Learning introduction 

Nous allons apprendre via un exemple concret les bases du Machine Learning. Pour cela, il faut télécharger les données d’entraînement et les sorties d'apprentissages.

In [13]:
library("ggplot2") # visualisation
library("dplyr") #  manipulation
library("randomForest") # classification algorithme


# lire les données sous R 

    train <- read.csv("~//Documents//R//Cours2019_M2//data//train.csv", stringsAsFactors = F)
test  <- read.csv("~//Documents//R//Cours2019_M2//data//test.csv", stringsAsFactors = F)
# vérifier les données 
full  <- bind_rows(train, test) #

In [15]:
head(full)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

In [17]:
head(test)

  PassengerId Pclass Name                                         Sex    Age
1 892         3      Kelly, Mr. James                             male   34.5
2 893         3      Wilkes, Mrs. James (Ellen Needs)             female 47.0
3 894         2      Myles, Mr. Thomas Francis                    male   62.0
4 895         3      Wirz, Mr. Albert                             male   27.0
5 896         3      Hirvonen, Mrs. Alexander (Helga E Lindqvist) female 22.0
6 897         3      Svensson, Mr. Johan Cervin                   male   14.0
  SibSp Parch Ticket  Fare    Cabin Embarked
1 0     0     330911   7.8292       Q
2 1     0     363272   7.0000       S
3 0     0     240276   9.6875       Q
4 0     0     315154   8.6625       S
5 1     1     3101298 12.2875       S
6 0     0     7538     9.2250       S

##### Explorer les données 
Nous allons découvrir et explorer les données afin de pouvoir créer un modèle de survie.